.App {
  background-color: bisque;
}

.Nav {
  display: flex;
  justify-content: space-between;
  height: 250px;
  background-image: url("./assets/snack\ banner.png");
}

.snacks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  width: 150px;
}
