.App {
  background-color: white;
}

.Nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 2px 2px 3px;
  background-image: url("./assets/snack\ banner.png");
}

.Show{
  background-image: url('./assets/EditIndex.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.snacks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  width: 150px;
}

li{
  background-color: rgba(254, 205, 5, 0.877);
  box-shadow: 0px 0px 12px ;
  margin: 20px;
  padding: 10px;
}
